.admin__adddocument {
    .container {}
    .addanother {
        cursor: pointer;
        font-size: 1.1vw;
        // margin: 0 3vw;
        padding-left: 2vw;
        position: relative;
        &:before {
            align-items: center;
            background: $koach-blue-primary;
            border-radius: 5vw;
            content: '+';
            display: flex;
            font-size: 1.5vw;
            justify-content: center;
            height: 1.5vw;
            left: 0;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 1.5vw;
        }
    }
    &--wrapper {}
    &--page-title {
        h2 {
            font-size: 3.3vw;
            font-weight: $font-bold;
            margin: 0;
            margin-bottom: 3vh;
        }
    }
    &--container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    &--left-col {
        display: flex;
        flex-direction: column;
        max-width: 70%;
        padding-right: 3vw;
        width: 100%;
    }
    &--right-col {
        display: flex;
        flex-direction: column;
        max-width: 30%;
        width: 100%;
    }
    &--buttons {}
    &--information {
        input {
            background: none;
            border: 0;
            border-bottom: 0.1vh solid $white;
            color: $white;
            font-size: 1vw;
            font-weight: $font-thin;
            line-height: 4vh;
            margin-bottom: 2vh;
            width: 100%;
        }
    }
    &--reels,
    &--assessments,
    &--documents {
        margin-bottom: 5vh;
        h3 {
            // background: $dark-gray-2;
            border-bottom: 0.1vh solid $gray;
            color: $koach-blue-primary;
            font-weight: $font-medium;
            margin: 0;
            padding: 2vh 4vh;
            width: 100%;
        }
    }
    &--reels {
        margin-top: 3vh;
        .addanother {
            float: right;
            margin-right: 4vh;
        }
    }
    .label {
        font-size: 1vw;
        font-weight: $font-medium;
        max-width: 30%;
        width: 100%;
    }
    .dd-wrapper {
        max-width: 70%;
        width: 100%;
    }
    &--inner-container {
        // background: $dark-gray-2;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 4vh;
        width: 100%;
    }
    &--common {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        &-sub {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            // max-width: 100%;
            width: 100%;
        }
    }
    .section--right-column {
        display: flex;
        flex-direction: column;
        margin-left: 30%;
        width: 70%;
        >.dd-wrapper {
            max-width: 100%;
        }
        &.reel {
            margin-top: 5vh;
            .addanother {
                // margin-top: -3vh;
                margin-bottom: 5vh;
            }
        }
        &.assessment {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
            // margin-top: 5vh;
            margin-left: unset;
            input[type='date'] {
                margin-bottom: 2vh;
                margin-right: 10%;
                width: 45%;
                &:last-of-type {
                    margin-right: 0;
                }
            }
            .dd-wrapper {
                // margin-top: 5vh;
            }
            .addanother {
                // margin-top: -3vh;
            }
        }
        &.documents {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-end;
        }
    }
    &--my-reel {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        .addanother {
            margin-left: 30%;
            margin-top: -3vh;
        }
    }
    &--video-preview,
    &--video-theatermode,
    &--summary,
    &--subtitle,
    &--tags {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 5vh;
        p {
            width: 100%;
        }
        input {
            background: $dark-gray-2;
            border: none;
            color: $white;
            padding: 2vh;
            width: 100%;
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: $white;
                font-size: 1vw;
                font-weight: $font-medium;
            }
            &:-ms-input-placeholder {
                /* IE 10+ */
                color: $white;
                font-size: 1vw;
                font-weight: $font-medium;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: $white;
                font-size: 1vw;
                font-weight: $font-medium;
            }
            &::-webkit-input-placeholder {
                /* Chrome/Opera/Safari */
                color: $white;
                font-size: 1vw;
                font-weight: $font-medium;
            }
        }
    }
    &--video-preview,
    &--video-theatermode {
        img {
            height: 45vh;
            // max-height: 40vh;
            width: 100%;
        }
    }
    &--summary {
        #summary-starttime,
        #summary-endtime {
            margin-top: 2vh;
            width: 45%;
        }
        #summary-starttime {
            margin-right: 10%;
        }
    }
    &--buttons {
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
        margin-top: 5vh;
        width: 100%;
    }
    input[type='checkbox'].form-input--checkbox {
        &:not(:checked),
        &:checked {
            +label {
                align-items: center;
                color: $white;
                display: flex;
                font-size: 1vw;
                margin-right: 5vh;
                &:before,
                &:after {
                    border-radius: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
        &:checked {
            +label {
                &:after {
                    background-image: url('../../../images/checkbox-tick.svg');
                }
            }
        }
    }
    input[type='date'] {
        background: $dark-gray-2;
        border: none;
        color: $white;
        font-size: 1vw;
        font-weight: $font-bold;
        padding: 1vw;
    }
    #mandatory-no+label {
        margin-right: 0;
    }
    #mandatory-duedate {
        margin-right: 5vh;
    }
    .btn {
        margin-right: 2vh;
        &--last {
            margin-right: 0;
        }
    }
}