body.admin {
  .admin {
    &-nav,
    &-player,
    &-reel_video,
    &-reel-title,
    &-reel-position,
    &-reel-upload,
    &-reel-add,
    &-advanced-setting,
    &-theater,
    &-player_II {
      &--icons {
        display: flex !important;

        img {
        	cursor: pointer;
        }
      }
    }

    &-reel-add-icons {
      .admin-reel-position--icons {
        display: flex !important;
      }
    }
  }

  .theater-page,
  .training-page {
    .header {
      height: 10vh !important;
      
      .admin-nav--icons {
        display: none !important;
      }
    }
  }

  .header {
  	height: 12vh;
  }

  .miniPlayer__action {
  	display: none !important;
  }

  .middle-video-reel {
    .admin-player--icons {
      left: -8vw;
    }
  }

  .featured-video__item--assessment {
    &:hover {
      .admin-reel_video--icons.assessment {
        display: flex !important;
      }
    }
  }
}