.all-users {
	&-table {
		margin-top: 5vh;
		
		.Dropdown-root {
			margin-bottom: 0 !important;
		}
		
		&--page {
			&-title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 2vh;
			}
			&-selection {
				max-width: 15%;
				width: 100%;
				
				.Dropdown {
					&-control {
						border-radius: 5vw;
						
						&:before {
							right: 7% !important;
						}
					}
					&-placeholder {
						color: $white !important;
						font-size: 1.5vw !important;
						font-weight: $font-bold !important;
						padding-left: 1vw;
					}
				}
			}
			
			&-settings {
				align-items: center;
				display: flex;
				flex-direction: row;
				max-width: 50%;
				width: 100%;
				
				.form-input--search {
					background: url('../../../images/svg-images/icon-search-gray.svg') right 0.9vw center no-repeat;
					background-color: $dark-gray-2;
					background-size: 1.5vw !important;
					border-radius: 0;
					height: 5.5vh;
					margin-right: 2vh;
					padding-left: 1vw;
					padding-right: 2.5vw;
					width: 100%;
				}
				
				.Dropdown-control {
					margin-right: 2vh !important;
					padding: 1.3vh 1vh !important;
				}
				
				.btn--createnew {
					font-size: 1vw;
					margin-right: 2vh;
					min-width: 10vw;
					padding-left: 2%;
					position: relative;
					
					&:before {
						content: "+";
						font-size: 2vw;
						font-weight: $font-thin;
						left: 10%;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}
		
		&--table {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;
			
			&-header,
			&-body {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				width: 100%;
			}
			
			&-header {
				border-bottom: 0.1vw solid $dark-gray-2;
				
				.all-users-table--table-cell {
					h5 {
						font-size: 1vw;
						font-weight: $font-bold;
						margin: 2vh 0;
					}
				}
			}
			
			&-body {
				flex-wrap: wrap;
				
				.all-users-table--table-row {
					&:hover {
						background-color: $dark-gray-3;
					}
				}
				
				.all-users-table--table-cell {
					&:nth-of-type(5) {
						p {
							padding-left: 2vh;
						}
					}
				}
			}
			
			&-row {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 1vh 0;
				width: 100%;
			}
			
			&-cell {
				&:nth-of-type(1) {
					text-align: center; 
					max-width: 4%;
					width: 100%;
				}
				&:nth-of-type(2) {
					max-width: 9%;
					width: 100%;
				}
				&:nth-of-type(3) {
					max-width: 17%;
					width: 100%;
				}
				&:nth-of-type(4) {
					max-width: 13%;
					width: 100%;
				}
				&:nth-of-type(5) {
					max-width: 13%;
					width: 100%;
				}
				&:nth-of-type(6) {
					max-width: 13%;
					width: 100%;
				}
				&:nth-of-type(7) {
					max-width: 13%;
					width: 100%;
				}
				&:nth-of-type(8) {
					max-width: 13%;
					width: 100%;
				}
				
				p {
					color: $gray;
				}
				
				.Dropdown-root {
					width: 50% !important;
				}
			}
			
			&-avatarimg {
				border: 0.1vw solid $white;
				border-radius: 10vw;
				width: 60%;
			}
		}
		
		&--grid {
			display: flex;
			flex-direction: column;
			
			&-wrapper {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: space-between;
			}
			
			&-header {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				
				p {
					color: $koach-blue-primary;
					font-size: 1vw;
					padding-left: 1.5vw;
				}
				
				span {
					align-items: center;
					display: flex;
					font-size: 1vw;
					padding-right: 1.5vw;
				}
			}
			
			&-card {
				align-items: center;
				background-color: $dark-gray-2;
				display: flex;
				flex-direction: column;
				justify-content: center;
				max-width: 16%;
				padding: 25px 0;
			    width: 100%;
				
				&:nth-of-type(6n) {
					margin-right: 0;
				}
				
				h5 {
					font-size: 20px;
					font-weight: $font-medium;
					margin: 0 0 5px;
				}
				
				p {
					color: $koach-blue-primary;
					font-size: 16px;
					margin: 0 0 15px;
					text-align: center;
					width: 100%;
				}
				
				button.btn.btn--primary {
					font-size: 16px;
					border-radius: 10vw;
					height: 48px;
					width: 100%;
				}

				button.btn.btn--primary:not(:last-of-type) {
					margin-bottom: 15px;
				}
			}
			
			&-avatarimg {
				border: 3px solid $koach-blue-primary;
				border-radius: 50%;
				height: 170px;
				margin-bottom: 25px;
				width: 170px;
				transition: all 1s ease;

				&:hover {
					box-shadow: 0px 0px 5px $white;
					transform: scale(1.2);
				}
			}
			
			&-personimg {
				margin-right: 0.5vw;
			}
			
			&.tutors {
				.all-users-table--grid-header {
					p {
						color: $white;
						font-weight: $font-bold;
					}
				}	
			}
		}
		
		&--image {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			cursor: pointer;
			width: 10vh;
			height: 100%;
			
			&.grid {
				background-image: url('../../../images/svg-images/icon-gridview.svg');
				margin-right: 2vh;
				
				&:hover,
				&.active {
					background-image: url('../../../images/svg-images/icon-gridview-hover.svg');
				}
			}
			
			&.list {
				background-image: url('../../../images/svg-images/icon-listview.svg');
				
				&:hover,
				&.active {
					background-image: url('../../../images/svg-images/icon-listview-hover.svg');
				}
			}
		}
	}
}