.create-user {
	.upload-btn-wrapper {
	  display: inline-block;
	  overflow: hidden;
	  position: relative;
	  width: 100%;
	}

	.btn--upload {
    align-items: center;
    background-color: $dark-gray-2;
    background-image: url('../../../images/svg-images/icon-photo.svg');
    background-position: center 5vh;
    background-repeat: no-repeat;
    background-size: 30%;
    border-radius: 3vw;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 0.8vw;
    justify-content: flex-end;
    height: 20vh;
    padding: 0 1vw;
    padding-bottom: 3vh;
    width: 100%;
	}

	.btn--upload-video {
    align-items: baseline;
    background-color: $dark-gray-2;
    background-image: url('../../../images/svg-images/icon-upload.svg');
    background-position: right 2vh center;
    background-repeat: no-repeat;
    background-size: 2.5%;
    color: $white;
    display: flex;
    flex-direction: column;
    font-size: 0.8vw;
    justify-content: center;
    height: 5vh;
    // padding: 0 1vw;
    // padding-bottom: 3vh;
    width: 100%;
	}

	.upload-btn-wrapper input[type=file] {
		cursor: pointer;
	  font-size: 100px;
	  position: absolute;
	  left: 0;
	  top: 0;
	  opacity: 0;
	}

	.Dropdown-root {
		margin-bottom: 0 !important;
	}

	h2 {
		font-size: 2.8vw;
		font-weight: $font-bold;
		margin: 0;
		margin-bottom: 5vh;
	}

	h4 {
		font-size: 1.1vw;
		font-weight: $font-bold;
		width: 100%;
	}

	&--wrapper{}

	.breadcrumbs {
		color: $gray;

		a {
			color: $white;
			text-decoration: underline;
		}
	}

	&--page {
		&-title {}
		&-content {}
		&-column {
	    display: flex;
	    flex-direction: column;
	    // justify-content: space-between;
		}

		&-column.center-column {
			flex-direction: row;
			flex-wrap: wrap;
			position: relative;

			.create-user--field {
				width: 100%;

				&:nth-of-type(1),			
				&:nth-of-type(2),
				&:nth-of-type(4),
				&:nth-of-type(5) {
				  max-width: 50%;
				  width: 100%;
				}

				&.selectvideo {
					position: absolute;
					top: 7vh;
				}
			}
		}

		&-row {
			display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    width: 100%;

			&--inner {
		    display: flex;
		    flex-direction: row;
		    justify-content: space-between;
		    width: 100%;

		    &.table {
		    	background-color: $dark-gray-2;
		    	padding: 1.5%;
		    }
			}

			&.credentials {
				.create-user--page-column {
					&:nth-of-type(1) {
					  max-width: 10%;
					  width: 100%;
					}
					&:nth-of-type(2) {
					  max-width: 20%;
					  width: 100%;
					}
					&:nth-of-type(3) {
					  max-width: 40%;
					  width: 100%;
					}
					&:nth-of-type(4) {
					  max-width: 20%;
					  width: 100%;
					}
				}
			}

			&.groups {
				flex-wrap: wrap;

				h4 {
					max-width: 80%;
					width: 100%;
				}

				p.addanother {
			    cursor: pointer;
			    display: flex;
			    flex-direction: column;
			    font-size: 1.1vw;
			    justify-content: center;
					max-width: 8%;
			    // margin: 0 3vw;
			    padding-left: 2vw;
			    position: relative;
					width: 100%;

			    &:before {
			      align-items: center;
			      background: $koach-blue-primary;
			      border-radius: 5vw;
			      content: "+";
			      display: flex;
			      font-size: 1.5vw;
			      justify-content: center;
			      height: 1.5vw;
			      left: 0;
			      position: absolute;
			      top: 50%;
			      transform: translateY(-50%);
			      width: 1.5vw;
			    }
			  }

			  .create-user--page-column {
			  	max-width: 23%;
			  	width: 100%;
			  }
			}

			&.activity {
				flex-wrap: wrap;
			}
		}
	}

	&--group {
		background: $dark-gray-2;
		padding: 3% 5%;
		width: 100%;

		h5 {
			font-weight: $font-bold;
			margin-bottom: 1vh;
			margin-top: 0;
		}

		span {
			color: $koach-blue-primary;
		}

		&.edituser {
			background-image: url('../../../images/svg-images/icon-edit.svg');
		    background-position: right 2vh center;
		    background-repeat: no-repeat;
		    background-size: 2.5vh;
		    cursor: pointer;
		}
	}

	&--download {
		&.edituser {
			button {
				margin-right: 2vh;

				&:last-of-type {
					margin-right: 0;
				}
			}
		}
	}

	&--uploadphoto {}

	&--field {
	    margin-bottom: 3vh;

		label {
			color: $white;
			display: inline-block;
			font-size: 0.9vw;
			font-weight: $font-bold;
			margin-bottom: 1vh;
			width: 100%;
		}

		video {
			width: 100%;
			height: 30vh;
		}

		input {
			&[type="text"],
			&[type="email"],
			&[type="password"] {
				background: none;
			    border: none;
			    color: $light-gray-2;
			    padding: 0.7vw 0.3vw;
			    padding-left: 0;
			    padding-top: 0;
			    width: 100%;

			    &::-webkit-input-placeholder { /* Edge */
				  color: $light-gray-2;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $light-gray-2;
				}

				&::placeholder {
				  color: $light-gray-2;
				}
			}

			&[type="text"] {
				background: $dark-gray-2;
			    padding: 0.7vw 0.3vw;

			    &::-webkit-input-placeholder { /* Edge */
				  color: $white;
				}

				&:-ms-input-placeholder { /* Internet Explorer 10-11 */
				  color: $white;
				}

				&::placeholder {
				  color: $white;
				}
			}
		}

		&.designation {
			input {
				&[type="text"] {
				    background: none;
				    border: none;
				    color: $light-gray-2;

				    &::-webkit-input-placeholder { /* Edge */
					  color: $light-gray-2;
					}

					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					  color: $light-gray-2;
					}

					&::placeholder {
					  color: $light-gray-2;
					}
				}
			}
		}

		&.username {
			input {
				&[type="text"] {
				    background: none;
				    border: none;
				    color: $white;
				    font-size: 1.7vw;
				    font-weight: $font-bold;

				    &::-webkit-input-placeholder { /* Edge */
					  color: $white;
					}

					&:-ms-input-placeholder { /* Internet Explorer 10-11 */
					  color: $white;
					}

					&::placeholder {
					  color: $white;
					}
				}
			}
		}

		.url {
			&[type="text"] {
			    background-image: url('../../../images/svg-images/icon-upload.svg');
			    background-position: right 2vh center;
			    background-repeat: no-repeat;
			    background-size: 2.5%;
			}
		}

		&.password {
			span {
				color: $light-gray-2;
				cursor: pointer;
			    display: block;
			    padding-left: 2vh;
			    position: relative;
			}

			.create-user--image {
				    left: 0;
				    position: absolute;
				    top: 0;
				    width: 1.3vh;
			}
		}
	}

	&--table {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		width: 100%;

		&-header,
		&-body {
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
			width: 100%;
		}

		&-header {
			.create-user--table-cell {
				background-image: url('../../../images/svg-images/icon-decending.svg');
		    background-position: right 0.3vh;
				background-repeat: no-repeat;
		    background-size: 2.3vh;

		    &:nth-of-type(2) {
				  background-image: none;
				}
			}
		}

		&-body {
			flex-wrap: wrap;
		}

		&-row {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}

		&-cell {
			&:nth-of-type(1) {
			  max-width: 20%;
			  width: 100%;
			}
			&:nth-of-type(2) {
			  max-width: 20%;
			  width: 100%;
			}
			&:nth-of-type(3) {
			  max-width: 10%;
			  width: 100%;
			}
			&:nth-of-type(4) {
			  max-width: 10%;
			  width: 100%;
			}
			&:nth-of-type(5) {
			  max-width: 10%;
			  width: 100%;
			}

			h5 {
				border-bottom: 0.1vw solid $koach-blue-primary;
				font-size: 0.9vw;
				font-weight: $font-bold;
				padding-bottom: 1vh;
				margin-top: 0;
			}

			p {
				margin-top: 0;
			}
		}
	}
}