.group-users {
	&-table {
		margin-top: 5vh;
		
		.Dropdown-root {
			margin-bottom: 0 !important;
		}

		.btn--back {
			display: inline-block;
			margin-left: 12%;
		}

		&--wrapper {
			display: flex;
			flex-direction: row;

			&-column {
				width: 100%; 
				&:first-of-type {
					max-width: 20%;
				}

				&:last-of-type {
					max-width: 80%;
				}
			}
		}

		&--options {}
		&--option {
			align-items: center;
			display: flex;
			flex-direction: column;
			height: 20vh;
			justify-content: center;
			position: relative;
			margin-right: 2vh;

			&:before {
				content: "";
				background: $dark-gray-2;
				height: 100%;
				position: absolute;
				right: 0;
				top: 0;
				width: 0.4vw;
			}

			&.active {

				&:before {
					background: $blue;
				}
				

				h3 {
					color: $blue;
					font-weight: $font-bold;
				}

				.group-users-table--option-icon {
					&.groupimg {
						background-image: url('../../../images/svg-images/icon-group-hover.svg');
					}

					&.userimg {
						background-image: url('../../../images/svg-images/icon-user-hover.svg');
					}

					&.reelimg {
						background-image: url('../../../images/svg-images/icon-reel-hover.svg');
					}

					&.assessmentimg {
						background-image: url('../../../images/svg-images/icon-assessment-hover.svg');
					}
				}
			}

			&:hover {
				cursor: pointer;

				h3 {
					color: $blue;
					font-weight: $font-bold;
				}

				.group-users-table--option-icon {
					&.groupimg {
						background-image: url('../../../images/svg-images/icon-group-hover.svg');
					}

					&.userimg {
						background-image: url('../../../images/svg-images/icon-user-hover.svg');
					}

					&.reelimg {
						background-image: url('../../../images/svg-images/icon-reel-hover.svg');
					}

					&.assessmentimg {
						background-image: url('../../../images/svg-images/icon-assessment-hover.svg');
					}
				}
			}

			&-icon {
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
				height: 2.7vw;
				width: 5vw;

				&.groupimg {
					background-image: url('../../../images/svg-images/icon-group.svg');
				}

				&.userimg {
					background-image: url('../../../images/svg-images/icon-user.svg');
				}

				&.reelimg {
					background-image: url('../../../images/svg-images/icon-reel.svg');
				}

				&.assessmentimg {
					background-image: url('../../../images/svg-images/icon-assessment.svg');
				}
			}
		}

		&--page {
			&-title {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: 2vh;
			}
			&-selection {
				max-width: 30%;
				width: 100%;

				h2 {
					font-size: 2.8vw;
			        font-weight: $font-bold;
			        margin: 0;
			        max-width: 30%;
			        width: 100%;
				}

				.breadcrumbs {
					color: $gray;

					a {
						color: $white;
						text-decoration: underline;
					}
				}
			}

			&-settings {
				align-items: center;
				display: flex;
				flex-direction: row;
				max-width: 50%;
				width: 100%;

				.form-input--search {
					background: url('../../../images/svg-images/icon-search-gray.svg') right 0.9vw center no-repeat;
					background-color: $dark-gray-2;
					background-size: 1.5vw !important;
					border-radius: 0;
					height: 5.5vh;
					margin-right: 2vh;
					padding-left: 1vw;
					padding-right: 2.5vw;
					width: 100%;
				}

				.Dropdown-control {
					margin-right: 2vh !important;
					padding: 1.3vh 1vh !important;
				}

				.btn--createnew {
					font-size: 1vw;
					margin-right: 2vh;
					min-width: 10vw;
					padding-left: 2%;
					position: relative;

					&:before {
						content: "+";
						font-size: 2vw;
						font-weight: $font-thin;
						left: 10%;
						position: absolute;
						top: 50%;
						transform: translateY(-50%);
					}
				}
			}
		}

		&--table {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 100%;

			&-header,
			&-body {
				display: flex;
			    flex-direction: row;
			    justify-content: space-between;
				width: 100%;
			}

			&-header {
				border-bottom: 0.1vw solid $dark-gray-2;

				.all-users-table--table-cell {
					h5 {
						font-size: 1vw;
						font-weight: $font-bold;
						margin: 2vh 0;
					}
				}
			}

			&-body {
				flex-wrap: wrap;

				.all-users-table--table-row {
					&:hover {
						background-color: $dark-gray-3;
					}
				}

				.all-users-table--table-cell {
					&:nth-of-type(5) {
						p {
							padding-left: 2vh;
						}
					}
				}
			}

			&-row {
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				padding: 1vh 0;
				width: 100%;
			}

			&-cell {
				&:nth-of-type(1) {
				  text-align: center; 
				  max-width: 4%;
				  width: 100%;
				}
				&:nth-of-type(2) {
				  max-width: 9%;
				  width: 100%;
				}
				&:nth-of-type(3) {
				  max-width: 17%;
				  width: 100%;
				}
				&:nth-of-type(4) {
				  max-width: 13%;
				  width: 100%;
				}
				&:nth-of-type(5) {
				  max-width: 13%;
				  width: 100%;
				}
				&:nth-of-type(6) {
				  max-width: 13%;
				  width: 100%;
				}
				&:nth-of-type(7) {
				  max-width: 13%;
				  width: 100%;
				}
				&:nth-of-type(8) {
				  max-width: 13%;
				  width: 100%;
				}

				p {
					color: $gray;
				}

				.Dropdown-root {
					width: 50% !important;
				}
			}

			&-avatarimg {
				border: 0.1vw solid $white;
				border-radius: 10vw;
				width: 60%;
			}
		}

		&--grid {
			display: flex;
			flex-direction: column;

			&-wrapper {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
		    	padding: 0 1.5vw;
			}

			&-header {
				    align-items: center;
				    border-bottom: 0.1vw solid $dark-gray-2;
				    display: flex;
				    flex-direction: row;
				    justify-content: space-between;
				    margin-bottom: 3vh;

				    p {
				    	color: $blue;
				    	font-size: 1vw;
				    	padding-left: 1.5vw;
				    }

				    span {
					    align-items: center;
			    	    display: flex;
				    	font-size: 1vw;
				    	padding-right: 1.5vw;
				    }
			}

			&-card {
				align-items: center;
				background-color: $dark-gray-2;
				display: flex;
				flex-direction: column;
				justify-content: center; 
				margin-bottom: 1%;
				margin-right: 1%;
				max-width: 15.7%;
				padding: 0.7vw 0vw;
				width: 100%;

				&:nth-of-type(6) {
				  margin-right: 0;
				}

				h5 {
					font-size: 1.1vw;
					font-weight: $font-bold;
					margin-bottom: 1vh;
					margin-top: 3vh;
				}

				p {
					color: $light-gray-2;
					border-bottom: 0.1vw solid $dark-gray-1;
					margin-top: 0;
					padding-bottom: 2vh;
					text-align: center;
					width: 100%;
				}

				button.btn.btn--primary {
					font-size: 1vw;
					border-radius: 10vw;
					height: 4vh;
				}
			}

			&-avatarimg {
				border: 0.1vw solid $white;
				border-radius: 10vw;
				height: 6vw;
				margin-top: 3vh;
				width: 6vw;
			}

			&-personimg {
				margin-right: 0.5vw;
			}
		}

		&--image {
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;
			cursor: pointer;
			width: 10vh;
			height: 100%;

			&.grid {
				background-image: url('../../../images/svg-images/icon-gridview.svg');
				margin-right: 2vh;

				&:hover,
				&.active {
					background-image: url('../../../images/svg-images/icon-gridview-hover.svg');
				}
			}

			&.list {
				background-image: url('../../../images/svg-images/icon-listview.svg');

				&:hover,
				&.active {
					background-image: url('../../../images/svg-images/icon-listview-hover.svg');
				}
			}
		}
	}
}