.nodeTree {
	&--wrapper {}
	&--page {
		&-title {
			margin-top: 4vh;

			.Dropdown-root {
				margin-bottom: 0 !important;
			}

			.all-users-table--page-settings {
				max-width: 20%;
			}
		}
	}
	&--chart {
		svg {
			&.svg-chart-container {
				background: none !important;
				height: 60vh !important;

				g {
					&.node {
						&-button-g {
							transform: translate(0, 20px);
						}
					}
				}

				path {
					&.link {
						stroke: $light-gray-2;
					}
				}

				rect {
					&.node-image-rect {
						display: none;
					}

					&.node-rect {
						fill: $brown !important;
						stroke: none !important;
					}
				}

				circle {
					&.node-button-circle {
						stroke: $light-brown;
					}
				}

				foreignObject {
					&.node-foreign-object {
						background: none;
					}
				}

				image {
					&.node-icon-image {
						display: none !important;
					}
				}

				text {
					&.node-icon {
						&-text-total,
						&-text-direct {
							display: none !important;
						}
					}
				}
			}
		}
	}
}