.bulkView {
  &__tutors {
    &--title {
      align-items: center;
      display: flex;

      @include for-tablet-landscape-up {
        justify-content: flex-start;
      }
      .theatre__assessment-pagination {
        justify-content: flex-end;
        padding-right: 20px;
        margin-bottom: 0;

        @include for-tablet-landscape-up {
          display: flex;
        }
      }

      h4 {
        font-size: 18px;
        font-weight: $font-medium;

        @include for-tablet-landscape-up {
          font-size: 20px;
          font-weight: $font-semibold;
        }
      }
    }
    &--reel {
      background-color: $dark-gray-1;
      margin-bottom: 20px;

      .addContentScreen {
        &--contentArea {
          background: none;
          padding: 20px;
        }

        &--tutors-content-scroll {
          width: calc(100% - 160px);
          @include for-tablet-landscape-up {
            width: calc(100% - 220px);
          }
        }

        &--tutors-content-all {
          margin-right: 40px;
          @include for-tablet-landscape-up {
            margin-right: 60px;
          }
          .circleIcon {
            height: 70px;
            width: 70px;

            @include for-tablet-landscape-up {
              height: 100px;
              width: 100px;
            }
          }
          p {
            margin-top: 5px;
          }
        }
        &--tutors-content-item {
          &__image {
            img {
              height: 70px;
              width: 70px;

              @include for-tablet-landscape-up {
                height: 100px;
                width: 100px;
              }
            }
          }
          &__name {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__reels {
    .featured-video.zoomEffectRow {
      padding: 0;
    }
  }
  &__buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include for-desktop-up {
      flex-direction: row;
    }

    &--left {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      @include for-desktop-up {
        flex-wrap: unset;
        max-width: 55%;
      }
    }

    &--right {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      @include for-desktop-up {
        max-width: 40%;
      }

      .searchBar {
        max-width: 100%;

        @include for-desktop-up {
          max-width: 500px;
        }
      }
    }

    button {
      min-width: 48%;
      margin-bottom: 20px;

      @include for-tablet-landscape-up {
        min-width: 23%;
        margin-bottom: 0;
      }

      @include for-medium-desktop-up {
        min-width: 180px;
      }
    }
  }

  .show {
    display: block !important;
  }
}
