.assessment {
  &__result {
    height: 100%;
    max-height: 75%;
    max-width: 850px;
    // padding: 70px 110px;
    padding: 7vh;
    width: 100%;

    .assessment__scrollbar {
      height: 100%;
      max-height: 45vh;
    }

    .modal-popup__header {
      .closemodale,
      .closemodale:hover {
        color: $white;
        right: 10px;
        top: 20px;
        display: none;
      }
    }

    &--title {
      width: 80%;

      h2 {
        font-family: $font;
        font-size: 50px;
        font-weight: 500;
        line-height: 1;
        position: relative;
        width: 100%;

        span {
          bottom: -4vh;
          color: $koach-blue-primary;
          font-size: 16px;
          line-height: 23px;
          left: 0;
          position: absolute;
        }
      }
    }

    &--count {
      background-color: $koach-blue-primary;
      border-radius: 0 0 2vw 2vw;
      color: $white;
      padding: 1vh;
      padding-bottom: 0;
      position: absolute;
      right: 1vw;
      top: 0;
      width: 11vw;

      p {
        font-size: 21px;
        font-weight: 400;
        line-height: 30px;
        margin: 0;
      }

      h2 {
        color: $white;
        font-size: 43px;
        font-weight: 700;
        line-height: 62px;
      }
    }

    &--wrapper {
        display: flex;
        flex-direction: column;
        position: relative;
        text-align: left;
    }

    &--list {
      padding-top: 1vh;
    }

    &--question {
      position: relative;

      h5 {
        color: $black;
        font-size: 16px;
        font-weight: 400;
        margin: 0;
      }

      p {
        color: $black;
        font-size: 16px;
        font-weight: 500;
        line-height: 23px;
      }
    }

    &--result {
      left: 7vw;
      position: absolute;
      top: 0;

      &-correct,
      &-incorrect,
      p {
        color: $white;
        margin: 0;
        padding-left: 5%;
        position: relative;
        height: 100%; 

        &:before {
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: "";
          height: 100%;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-60%);
          width: 1.2vw ;
        }
      }

      &-correct {
        &:before {
          background-image: url('../../../images/green-tick.svg');
        }
      }
      &-incorrect {
        &:before {
          background-image: url('../../../images/red-cross.svg');
        }
      }
    }

    &--answer {
      p {
        font-size: 16px;
        font-weight: 400;
        line-height: 23px;

        &.assessment__result--answer-youranswer {
          color: $light-gray;
        }

        &.assessment__result--answer-correct {
          color: $green;
        }
      }
    }
    &--footer {
      bottom: -10vh;
      position: absolute;
      right: 0;
      width: 100%;
    }
  }

  &__endvideo {
    margin-top: -1vw;
    text-align: left;

    &--heading {
      h3 {
        color: $koach-blue-primary;
        font-size: 20px;
        font-weight: $font-bold;
        line-height: 24px;
      }
    }

    &--context {
      p {
        color: $black;
        font-size: 2.5vh;
        font-weight: $font-normal;
        line-height: 1.5;
        margin: 1vh 0;
      }

      border-bottom: 0.1vw solid $gray;
    }

    &--info {}
    &--duration,
    &--questions-count {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 1vh 0;

      p {
        color: $black;
        font-size: 2.5vh;
        font-weight: $font-bold;
        line-height: 1.5;
        margin: 0;
        // max-width: 7vw;
      }

      span {
        color: $koach-blue-primary;
        font-size: 2.5vh;
        font-weight: $font-normal;
        line-height: 1.5;
        text-align: right;
      }
    }

    &--submission {
      text-align: right;
    }
  }
}

.endVideoAssessment {
  .modal-popup__header {
    padding: 0;

    a {
      color: $white;
      right: -2vw;
    }
  }

  .modal-popup__footer {
    display: none;
  }
}

