/**
* Buttons
*/

// Button loading animation
$base-duration: 2000ms;

button {
  border-radius: 0;
  border: none;
  cursor: pointer;
  outline: none;
}

.btn {
  align-items: center;
  background-color: $white;
  border-radius: 10px;
  color: $black;
  cursor: pointer;
  display: flex;
  font-family: $font;
  font-size: 16px;
  justify-content: center;
  line-height: 1;
  color: $white;
  height: 45px;
  min-width: 120px;
  padding: 10px 15px;

  @include for-tablet-landscape-up {
    border-radius: 0;
  }
  &.disable {
    cursor: not-allowed;
    background-color: $light-gray-2;
  }

  &--primary,
  &--secondary,
  &--tertiary,
  &--lightgreen,
  &--gray,
  &--green {
    color: $white;
  }

  &--primary {
    background: $koach-blue-primary;
  }

  &--secondary {
    background: $dark-gray-1;
  }

  &--tertiary {
    background: $dark-gray-3;
  }

  &--lightgreen {
    background: $koach-green-primary;
  }

  &--green {
    background: $green;
  }

  &--roundEdges {
    border-radius: 10px;
  }

  &--gray {
    background: $light-gray-2;
  }

  &--white {
    background: $white;
    color: $black;
  }

  &--centerText {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--addButton {
    padding-left: 40px;
    position: relative;
    width: 130px;
    &:before {
      content: '';
      background: url('../../../images/svg-images/add.svg');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      height: 30px;
      width: 15px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }
  }

  &--marginRight {
    margin-right: 15px;
  }

  &--filter {
    background-color: $featured-gray-1;
    border-radius: 15px;
    height: 55px;
    min-width: unset;
    padding: 0;
    width: 55px;
  }

  &--back {
    color: $gray;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: $font-thin;
    display: inline-block;
    padding-left: 1.4vw;
    position: relative;

    &:before {
      background-image: url('../../../images/svg-images/icon-backarrow.svg');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 1.2vw;
    }
  }

  &--clicked {
    box-shadow: inset 0 0 10px #0000009e;
    filter: brightness(50%);
  }

  &--curved {
    border-radius: 30px;
  }

  &-zoomin,
  &-bigscreen,
  &-zoomout {
    background: none !important;
  }

  &-close {
    color: $white !important;
    cursor: pointer;
    font-family: $font;
    font-size: 20px;
    position: absolute;
    right: 0;
  }

  &--featured {
    background: $dark-gray-1;
    border-radius: 10px;
    color: white;
    float: right;
    font-weight: $font-medium;
    padding-left: 50px;
    position: relative;

    &:before {
      background-color: $koach-blue-primary;
      background-image: url('../../../images/svg-images/icon-star.svg');
      background-repeat: no-repeat;
      background-position: 10px 50%;
      background-size: 45%;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      clip-path: polygon(0 0, 75% 0, 100% 100%, 0% 100%);
      content: '';
      height: 100%;
      left: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30%;
    }
  }

  &-section {
    cursor: pointer;
    align-items: center;
    background: none;
    color: $koach-blue-primary;
    display: flex;
    font-family: $font;
    font-size: 16px;
    font-weight: $font-medium;
    padding-left: 20px;
    padding-right: 0;
    position: relative;

    &.sub {
      background-color: $dark-gray-1;
      border-radius: 15px;
      color: $white;
      display: inline-block;
      font-size: 12px;
      padding: 5px 15px;
      padding-right: 30px;

      &:before {
        background: $koach-blue-primary;
        left: unset;
        right: 5px;
      }

      &:after {
        color: $white;
        left: unset;
        right: 5px;
        width: 15px;
      }
    }

    &:before {
      content: '';
      width: 15px;
      height: 15px;
      background: $koach-blue-primary;
      border-radius: 10px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    &:after {
      content: '+';
      justify-content: center;
      align-items: center;
      color: #242424;
      font-size: 18px;
      width: 16px;
      height: 15px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0px;
      display: flex;
    }
  }

  &--loader {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &:before {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: 0%;
      height: 100%;
    }

    span {
      position: absolute;
      line-height: 0;

      i {
        transform-origin: center center;
      }

      &:nth-of-type(1) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-of-type(2) {
        top: 100%;
        transform: translateY(0%);
        font-size: 24px;
      }

      &:nth-of-type(3) {
        display: none;
      }
    }

    &.active {
      background-color: $transparent;

      &:before {
        width: 100%;
        transition: width 3s linear;
      }

      span {
        &:nth-of-type(1) {
          top: -100%;
          transform: translateY(-50%);
        }

        &:nth-of-type(2) {
          top: 50%;
          transform: translateY(-50%);

          svg {
            animation: loading $base-duration linear infinite;
          }
        }

        &:nth-of-type(3) {
          display: none;
        }
      }
    }

    &.finished {
      background-color: lighten($koach-blue-primary, 10%);

      .submit {
        display: none;
      }

      .loading {
        display: none;
      }

      .check {
        display: block !important;
        font-size: 24px;
        animation: scale 0.5s linear;

        svg {
          transform-origin: center center;
        }
      }
    }
  }

  &--grayButton {
  }

  &.simpleLoading {
    align-items: center;
    background: $koach-blue-secondary;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      animation: simpleLoading linear 1s infinite;
      top: 14px;
      left: 98px;
    }
  }
}

.searchBar {
  max-width: 500px;
  width: 100%;
  input {
    background-color: unset;
    background-position: right 20px center;
    border-bottom: 1px solid $light-gray-2;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@keyframes simpleLoading {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  33.1% {
    content: '..';
  }
  99% {
    content: '...';
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(10);
  }
  50% {
    transform: scale(0.2);
  }
  70% {
    transform: scale(1.2);
  }
  90% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

.icon {
  height: 50px;
  width: 50px;

  &.verySmall-icon {
    height: 30px;
    width: 30px;
  }

  &.small-icon {
    height: 30px;
    width: 30px;
  }

  &.extra-small-icon {
    height: 15px;
    width: 15px;
  }

  &.marginRight {
    margin-right: 5px;
  }

  &.color {
    &-green {
      fill: $green;
    }
    &-white {
      fill: $white;
    }
    &-blue {
      fill: $koach-blue-primary;
    }
  }
}
