.description {
  height: 283px;
}

.checkbox-wrapper {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  span {
    margin-left: 10px;
  }

  label {
    padding-left: 15px;
    position: unset;
  }
}

.dropdown-wrapper {
  .Dropdown-root.form-input {
    margin-bottom: 0 !important;
  }
}

.input-no-title {
  padding-top: 0 !important;
}
