// Mini Player
@import './miniPlayer';

.featured-video {
  position: relative;

  &:hover {
    .theatre__assessment-pagination {
      display: flex;
    }
  }

  &__title {
    color: $white;
    display: flex;
    font-size: 16px;
    font-weight: $font-medium;
    position: absolute;
    padding: 0 4%;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;

    .theatre__assessment-pagination {
      opacity: 1;
      visibility: visible;
      transition: all 0.4s $cubic-transition-2;
    }

    &.moveup {
      z-index: -2;

      .theatre__assessment-pagination {
        opacity: 0;
        visibility: hidden;
      }
    }

    p {
      cursor: pointer;
      font-size: 16px;
      font-weight: $font-medium;
      display: inline-block;
      margin: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;

      @include for-tablet-portrait-up {
        overflow: unset;
        width: auto;
      }

      &:hover {
        span:not(.admin-reel-title--icons) {
          left: 1vw;
          opacity: 1;
        }
      }

      span:not(.admin-reel-title--icons) {
        color: $koach-blue-primary;
        cursor: pointer;
        font-size: 80%;
        font-weight: $font-bold;
        left: 0;
        position: absolute;
        opacity: 0;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
        width: 100%;
        display: none;

        @include for-desktop-up {
          display: inline;
          left: -3vw;
          position: relative;
        }

        &:before {
          background-image: url('../../../images/svg-images/icon-exploremore.svg');
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          content: '';
          height: 100%;
          right: -20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 13px;
        }
      }

      .admin-reel-title--icons {
        align-items: center;
        display: none;
        height: 2.5vh;
        left: 2.7vw;
        position: absolute;
        top: -3.5vh;
        width: 4vw;

        hr {
          background: $gray-light;
          border: 0;
          height: 100%;
          margin: 0;
          width: 0.1vw;
        }

        img {
          height: 2.5vh;

          &:first-of-type {
            margin-right: 0.75vw;
          }

          &:last-of-type {
            margin-left: 0.75vw;
          }
        }
      }
    }

    .admin-reel-position--icons {
      display: none;
      flex-direction: column;
      height: 100%;
      left: 0.6vh;
      justify-content: center;
      position: absolute;
      top: 0;
      z-index: 10;
    }

    .admin-reel-upload--icons {
      align-items: center;
      display: none;
      flex-direction: row;
      position: absolute;
      right: 5.5vh;
      top: -8vh;

      img {
        margin-right: 2vh;
      }

      p {
        cursor: pointer;
        font-weight: $font-normal;
      }
    }
  }
  .slick-prev,
  .slick-next {
    height: calc(100% - 60px);
    width: 40px;
    z-index: 10;
    display: flex;
    align-items: center;
    top: 49%;
    z-index: 10;

    img {
      width: 15px;
    }

    &:before {
      content: none;
      display: none;
    }
  }
  .slick-prev {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(24, 125, 116, 0) 100%
    );
    left: 0;
    justify-content: flex-start;

    img {
      margin-left: 5px;
    }
  }
  .slick-next {
    background: linear-gradient(
      270deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(24, 125, 116, 0) 100%
    );
    right: 0 !important;
    justify-content: flex-end;

    img {
      margin-right: 5px;
    }
  }
  .slick-track {
    // display: flex;
    // margin: 0;
    margin-left: 0;
  }
  &.zoomEffectRow {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    padding: 0 4%;
    display: flex;
    align-items: center;

    .first-element {
      @include for-small-desktop-up {
        &:hover {
          transform: translate3d(3.15vw, 0, 0);
          ~ .push-left {
            transform: translate3d(6.15vw, 0, 0);
          }
        }
      }
    }
    .last-element {
      &:hover {
        transform: translate3d(-3.15vw, 0, 0);
      }
    }

    &.renderleft {
      .slick-slide.slick-active.slick-current {
        .featured-video__item.zoomEffect {
          transform-origin: left;
        }
      }
    }

    &.admin-mode {
      .add-video--button {
        background-color: $dark-gray-3;
        border-radius: 20px;
        cursor: pointer;
        height: 180px;
        margin-bottom: 4px;
        position: relative;
        width: 17%;

        @include for-big-desktop-up {
          height: 221px;
        }

        &:before {
          background: url('../../../images/svg-images/icon-addvideo.svg') center
            center no-repeat;
          background-size: contain;
          content: '';
          height: 20px;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, calc(-50% - 15px));
          transition: all 0.5s ease;
          width: 25px;
          z-index: 2;
        }

        p {
          left: 50%;
          margin: 0;
          position: absolute;
          text-align: center;
          top: 50%;
          transform: translate(-50%, calc(-50% + 15px));
          width: 100%;
        }
      }

      .add-content-popup {
        .popup--wrapper {
          background-color: #242424d4;
          border-radius: 12px;
          max-width: 300px;
          left: 30%;
          top: 15%;
        }
      }

      .add-new-item {
        background-color: $black-opacity-2;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        position: absolute;
        right: -267px;
        top: 30px;
        z-index: 100;
        width: 260px;

        .btn-close {
          top: 0;
          right: 10px;
          font-size: 25px;
        }

        ul {
          padding-left: 0%;
          width: 90%;
          cursor: pointer;
          li {
            width: 100%;
            text-align: left;
            padding: 5px 10px;
            display: flex;
            justify-content: start;
            align-items: center;
            img {
              padding-right: 12px;
            }
          }
          li:hover {
            background-color: $koach-blue-secondary;
            border-radius: 40px;
          }
        }
      }

      .slick-slider {
        margin-left: 5px;
        width: calc(100% - 17%);

        .slick-prev,
        .slick-next {
          top: 48%;
        }

        .slick-prev {
          left: -28.5% !important;
        }
      }
    }
  }
  &.push-element-right {
    .push-right {
      transform: translate3d(-6.15vw, 0, 0);
    }
  }

  .slick-slider {
    overflow: hidden;
    padding-bottom: 30px;
  }

  .slick-list {
    @include margin(0 auto);
    overflow: unset;

    &:hover {
      position: relative;
      z-index: 11;
    }
  }

  .slick-slide {
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    transition: all 0.5s $cubic-transition-2;
    position: relative;
    z-index: 1;

    &.slick-active {
      &:hover {
        position: relative;
        z-index: 2;
      }
    }
  }

  &__explore-button {
    align-items: center;
    background-color: $dark-gray;
    border-radius: 20px;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 180px;
    min-height: 180px;
    width: 100%;

    @include for-big-desktop-up {
      height: 220px;
    }

    svg {
      height: 25px !important;
      width: 25px !important;
    }

    span {
      font-size: 16px;
      font-weight: $font-medium;
      margin-top: 10px;
      text-align: center;
    }
  }

  &__info {
    &--close {
      margin-top: 30px;
      position: relative;

      .slick-slider {
        // padding: 0 4%;
        width: 100%;
      }

      .slick-track {
        @include padding(32px 0 0);
      }

      @include grid-media($lg) {
        .push-right {
          transform: translate3d(-3.15vw, 0, 0);
        }
        .push-left {
          transform: translate3d(3.15vw, 0, 0);
        }
      }
    }

    &--open {
      margin: 3vh 1vh;

      .slick-track {
        @include padding(32px 0);
      }

      @include grid-media($lg) {
        .push-right {
          transform: translate3d(-3.15vw, 0, 0);
        }
        .push-left {
          transform: translate3d(3.15vw, 0, 0);
        }
      }
    }

    &.interviews {
      margin-bottom: 10vh;

      .featured-video__title {
        padding: 0;
        top: 0;
      }

      .all-users-table {
        &--grid {
          &-card {
            background: none;

            p {
              border: none;
              margin: 0;
            }
          }
          &-avatarimg {
            border: none;

            &-wrapper {
              border-radius: 50%;
              cursor: pointer;
              height: 170px;
              margin-top: 30px;
              overflow: hidden;
              position: relative;

              img {
                filter: grayscale(1);
                transition: all 0.5s $cubic-transition;
              }

              &:hover {
                img {
                  filter: grayscale(0);
                }

                .all-users-table--grid-time {
                  opacity: 1;
                  transform: translateY(0);
                }
              }
            }
          }

          &-time {
            bottom: 0;
            display: flex;
            font-size: 14px;
            justify-content: center;
            padding: 10px 0;
            position: absolute;
            color: $white;
            opacity: 0;
            transform: translateY(50px);
            transition: all 0.5s $cubic-transition-2;
            z-index: 2;

            &:before {
              background: url('../../../images/internview-time.svg') center
                center no-repeat;
              background-size: contain;
              bottom: 0;
              content: '';
              height: 42px;
              position: absolute;
              transition: all 0.5s ease;
              width: 170px;
              z-index: -1;
            }
          }

          &-name {
            font-weight: $font-normal;
            margin-bottom: 0;
            margin-top: 25px;
            text-align: center;
          }

          &-occupation {
            color: $koach-blue-primary;
          }
        }
      }
    }
  }
  &__item {
    overflow: hidden;
    outline: none;
    position: relative;

    @include for-medium-desktop-up {
      &:before {
        content: '';
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: 1;
      }
    }

    &.zoomEffect {
      transition: all 0.6s $cubic-transition-2;

      .miniPlayer {
        height: 185px;

        @include for-desktop-up {
          height: 180px;
        }

        @include for-big-desktop-up {
          height: 220px;
        }

        &:before {
          content: none;
        }

        &__content {
          border-radius: 20px;
          position: relative;

          @include for-desktop-up {
          }
        }

        &__info {
          &--title {
            display: none;

            &-category {
              display: none;

              @include for-desktop-up {
                color: $white;
                display: block;
                font-size: 11px;
                font-weight: $font-medium;
              }
            }
          }
        }
      }
      @include for-small-desktop-up {
        &:hover {
          @include grid-media($lg) {
            transform: scale(1.3);
          }
          position: relative;
          z-index: 20;
          .miniPlayer {
            &__info-action,
            &__info-arrow {
              opacity: 1;
            }
            &__info--duedate,
            &__info--title {
              display: flex;
            }
          }
        }
      }
    }

    &--assessment {
      position: relative;

      &,
      > img {
        border-radius: 15px;
      }

      &:before {
        content: '';
        background: rgb(0, 0, 0);
        background: linear-gradient(
          0deg,
          rgba(0, 0, 0, 1) 0%,
          rgba(0, 0, 0, 0) 100%
        );
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
      }

      h3 {
        border: 0.1vw solid $white;
        color: $white;
        font-size: 0.8vw;
        left: 50%;
        padding: 0.5vw;
        position: absolute;
        top: 40%;
        transform: translate(-50%, -50%);
        z-index: 2;
      }

      > img {
        // height: 21.3vh;
        width: 100%;
      }

      .miniPlayer__click {
        position: absolute;
        z-index: 2;
      }

      .admin-reel_video--icons {
        align-items: center;
        background: $black;
        flex-direction: column;
        height: 100%;
        justify-content: space-around;
        padding-bottom: 0.2vw;
        position: absolute;
        opacity: 0.7;
        right: 0;
        top: 0;
        width: 3vw;
        z-index: 13;

        img {
          height: 2.5vh;
        }

        &.assessment {
          display: none !important;
        }
      }
    }

    &.unpublished {
      position: relative;

      .miniPlayer {
        &:before {
          align-items: center;
          // background: #000000e0;
          content: 'Unpublished';
          font-weight: $font-medium;
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;
          z-index: 10;
        }
      }

      .miniPlayer__info-action {
        .miniPlayer__info,
        .miniPlayer__action,
        .miniPlayer__info-arrow {
          opacity: 0 !important;
        }
      }
    }
  }
  &__reel {
    &--tutors {
      background: $featured-gray;
      border-left: 5px solid $koach-blue-primary;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      display: inline-block;
      margin-left: 4%;
      padding: 15px 0 15px 20px;
      position: relative;

      &:after {
        background: $featured-gray;
        border-radius: 0 100% 100% 0;
        content: '';
        height: 100%;
        position: absolute;
        right: -10px;
        top: 0;
        width: 5vw;
        z-index: -1;
      }

      &-wrapper {
        display: flex;
      }

      &-tutor {
        align-items: center;
        cursor: pointer;
        display: flex;

        &:not(:first-child) {
          padding-left: 25px;
        }

        &:last-child {
          padding-right: 25px;
        }

        &:last-of-type {
          border: none;
        }

        &:hover,
        &.active {
          img {
            border: 4px solid $koach-blue-primary;
            filter: grayscale(0);
          }
        }
      }

      &-left {
        margin-right: 12px;

        .icon--avatar {
          border: 4px solid transparent;
          border-radius: 100%;
          -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
          width: 50px;
          transition: all 0.4s $cubic-transition-2;
        }
      }

      &-right {
        p,
        span {
          line-height: 1;
        }

        p {
          font-size: 16px;
          font-weight: $font-medium;
          line-height: 1;
          margin: 0 0 3px;
        }

        span {
          color: $koach-blue-primary;
          font-size: 14px;
          font-weight: $font-normal;
        }
      }
    }
  }
  &__novideo {
    background-color: $dark-gray-3;
    border-radius: 20px;
    cursor: pointer;
    height: 180px;
    position: relative;
    top: 38px;
    width: 28%;
    margin-bottom: 80px;

    @include for-tablet-landscape-up {
      width: 17%;
      margin-left: 20px;
    }

    @include for-big-desktop-up {
      height: 221px;
    }

    &:before {
      align-items: center;
      content: 'No videos in this reel';
      display: flex;
      font-size: 14px;
      justify-content: center;
      height: 100%;
      left: 0;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
      width: 100%;
    }
  }
}

.tutors-reel {
  background: $dark-gray-4;
  margin: 0 4%;
  padding: 7.5px 0;

  @include for-tablet-landscape-up {
    padding: 15px 0;
  }

  @include for-desktop-up {
    display: inline-block;
    position: relative;
    width: auto;

    &:after {
      background: $featured-gray;
      border-radius: 0 100% 100% 0;
      content: '';
      height: 100%;
      position: absolute;
      right: -40px;
      top: 0;
      width: 75px;
      z-index: -1;
    }
  }

  .slick-prev {
    @include for-desktop-up {
      left: 0.5% !important;
    }
  }

  .slick-list {
    padding: 0 12px;
    width: 100% !important;

    @include for-desktop-up {
      padding: 0 35px;
    }

    .slick-track {
      display: flex;
      width: 100% !important;

      .slick-slide {
        width: auto !important;
      }
    }
  }

  &__leftcontent {
    height: 50px;
    margin-right: 10px;
    width: 50px;

    .icon--avatar {
      border: 4px solid transparent;
      border-radius: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      height: 50px;
      width: 50px;
      transition: all 0.4s $cubic-transition-2;
    }
  }
  &__rightcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 14px;
      line-height: 14px;
      margin: 0;
    }
    span {
      color: $koach-blue-primary;
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
    }
  }
  &__tutor {
    align-items: center;
    cursor: pointer;
    display: flex !important;

    &:not(:first-child) {
      padding-left: 25px;
    }

    &:last-child {
      padding-right: 25px;
    }

    &:last-of-type {
      border: none;
    }

    &:hover,
    &.active {
      img {
        border: 4px solid $koach-blue-primary;
        filter: grayscale(0);
      }
    }

    &:focus {
      outline: none !important;
    }
  }
}

.tutorReel {
  margin-bottom: 20px;

  .slick-slider {
    .slick-prev,
    .slick-next {
      height: 27px;
    }

    .slick-prev {
      left: 3px;
      z-index: 1;

      &::before {
        background-position: bottom;
      }
    }

    .slick-next {
      right: 0;
    }

    .slick-list {
      .slick-track {
        background: $dark-gray-4;
        margin-left: 0;
        margin-right: 0;
        padding: 7.5px 0;

        @include for-desktop-up {
          position: relative;

          &:before {
            background: $featured-gray;
            border-radius: 0 100% 100% 0;
            content: '';
            height: 100%;
            position: absolute;
            right: -40px;
            top: 0;
            width: 75px;
            z-index: -1;
          }
        }
      }
    }

    .slick-dots {
      bottom: -2px;

      li {
        button {
          &:before {
            color: $white;
          }
        }

        &.slick-active {
          button {
            &:before {
              color: $koach-blue-primary;
              opacity: 1;
              transform: scale(1.2);
            }
          }
        }
      }
    }
  }

  &__video {
    &:focus {
      outline: 0;
    }
    &--wrapper {
      align-items: center;
      // background: $white;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      height: 100%;

      &:focus {
        outline: 0;
      }
    }

    h2 {
      color: $red;
    }
  }

  &__tutor {
    align-items: center;
    cursor: pointer;
    display: flex !important;

    &:not(:first-child) {
      padding-left: 25px;
    }

    &:last-child {
      padding-right: 25px;
    }

    &:last-of-type {
      border: none;
    }

    &:hover,
    &.active {
      img {
        border: 4px solid $koach-blue-primary;
        filter: grayscale(0);
      }
    }

    &:focus {
      outline: none !important;
    }
  }

  &__leftcontent {
    height: 50px;
    margin-right: 10px;
    width: 50px;

    .icon--avatar {
      border: 4px solid transparent;
      border-radius: 100%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      height: 50px;
      width: 50px;
      transition: all 0.4s $cubic-transition-2;
    }
  }

  &__rightcontent {
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
      font-size: 14px;
      line-height: 14px;
      margin: 0;
    }
    span {
      color: $koach-blue-primary;
      font-size: 14px;
      line-height: 16px;
      white-space: nowrap;
    }
  }
}

.featuredSlider {
  &__slider {
    padding: 0 4%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;

    .theatre__assessment-pagination {
      display: flex;
      position: absolute;
      bottom: 0;
      z-index: 10;
      left: 50%;
      transform: translateX(-50%);
      padding: 0;
    }

    .slick-prev {
      left: 70px !important;
      z-index: 10;

      &:before {
        background-image: url('../../../images/svg-images/reel-left-arrow.svg') !important;
        transform: unset !important;
        height: 40px !important;
        width: 25px !important;
      }
    }

    .slick-next {
      right: 70px !important;
      z-index: 10;
      &:before {
        background-image: url('../../../images/svg-images/reel-right-arrow.svg') !important;
        transform: unset !important;
        height: 40px !important;
        width: 25px !important;
      }
    }
  }
  &__slide {
    background-color: $dark-gray-1;
    padding: 20px 20px 50px;
    width: 100%;
    @include for-tablet-portrait-up {
      padding: 40px;
    }
    @include for-medium-desktop-up {
      padding: 60px 50px;
    }
    &--wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 1200px;
      width: 100%;

      @include for-tablet-portrait-up {
        flex-direction: row;
      }
    }
    &--left {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      width: 100%;

      @include for-tablet-portrait-up {
        height: 350px;
        max-width: 45%;
      }
    }
    &--right {
      width: 100%;

      @include for-tablet-portrait-up {
        margin-left: 30px;
        max-width: 55%;
      }

      h3 {
        font-size: 18px;
        font-weight: $font-semibold;
        margin-bottom: 0;

        @include for-tablet-portrait-up {
          font-size: 32px;
          margin: 0;
        }
      }
      p {
        font-size: 14px;
        font-weight: $font-semibold;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @include for-tablet-portrait-up {
          font-weight: $font-normal;
        }

        @include for-small-desktop-up {
          font-size: 16px;
        }
      }
      button {
        border-radius: unset;
        width: 100%;
        @include for-tablet-portrait-up {
          border-radius: 10px;
          width: auto;
        }
      }
    }
  }
}
