.footer {
  background-color: $dark-gray-2;
  padding-top: 50px;
  padding-bottom: 100px;
  @include grid-media($sm) {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  &--wrapper {
  }
  &--top-row {
    display: flex;
    justify-content: center;

    @include grid-media($sm) {
      justify-content: space-between;
    }
  }
  &--bottom-row {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include grid-media($sm) {
      align-items: flex-start;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 20px;
      text-align: left;
    }

    &__column {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &:first-of-type {
        @include grid-media($lg) {
          padding-left: 85px;
        }
      }
      &:nth-of-type(2) {
        p.footer--details-title {
          margin: 5px;
          &:first-of-type {
            margin-top: 20px;
          }
        }
      }
      &:last-of-type {
        max-width: 180px;
        flex-wrap: wrap;
        flex-direction: row;

        p {
          width: 100%;

          @include grid-media($sm) {
            text-align: center;
          }
        }
      }

      p {
        margin-top: 0;

        &.footer--details-title {
          margin-top: 20px;
        }
      }
    }
  }
  &__logo {
    width: 200px;
  }
  &__socialmedia {
    height: 30px;
    margin-right: 40px;
    width: 30px;

    &:last-of-type {
      margin-right: 0;
    }
  }
  &__scrollup {
    cursor: pointer;
    height: 40px;
    width: 40px;
    display: none;

    @include grid-media($sm) {
      display: block;
      height: 60px;
      width: 60px;
    }
  }
  &--details-title {
    color: $koach-blue-primary;
    font-size: 14px;
    margin-bottom: 10px;
  }
  P {
    font-size: 16px;
  }
}
