.signup-form {
  align-items: center;
  background-image: url('../../../images/orange-login.jpg');
  background-position: 0% 20%;
  background-repeat: no-repeat;
  background-size: 135%;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  height: 100%;
  top: 0;
  width: 100%;
  z-index: 15;

  &:before {
    background: $black;
    content: '';
    left: 0;
    position: absolute;
    height: 100%;
    opacity: 0.75;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__wrapper {
    position: relative;
    z-index: 20;
  }

  &__form {
    background: $black;
    margin: 0 auto;
    padding: 4vh;
    width: 40%;

    &-header {
      position: relative;

      h3 {
        font-size: 1vw;
        font-weight: $font-bold;
        margin-top: 0;
      }
      .btn-close {
        color: $white;
        right: 0;
      }
    }

    &-body {
      display: flex;
      flex-wrap: wrap;
    }

    &-row {
      margin-top: 2vh;
      max-width: 100%;
      width: 100%;

      &:first-of-type {
        margin-top: 0;
      }

      &.userimage {
        margin-right: 5%;
        max-width: 40%;
        width: 100%;
      }

      &.uploadsection {
        max-width: 55%;
        width: 100%;

        label {
          padding-left: 1.5vw !important;

          &:last-of-type {
            margin-top: 3vh;
          }
        }
      }

      label {
        font-size: 1.5vh;
      }

      input[type='radio']:not(:checked) + label:before,
      input[type='radio']:not(:checked) + label:after,
      input[type='radio']:checked + label:before,
      input[type='radio']:checked + label:after {
        height: 0.8vw;
        width: 0.8vw;
      }
    }

    .upload-btn-wrapper {
      display: inline-block;
      overflow: hidden;
      position: relative;
      width: 100%;
    }

    .btn--upload {
      align-items: center;
      background-color: $dark-gray-2;
      background-image: url('../../../images/svg-images/icon-photo.svg');
      background-position: center 5vh;
      background-repeat: no-repeat;
      background-size: 20%;
      border-radius: 1.5vw;
      color: $white;
      display: flex;
      flex-direction: column;
      font-size: 1vw;
      justify-content: flex-end;
      height: 20vh;
      padding: 0 1vw;
      padding-bottom: 3vh;
      width: 100%;
    }

    .upload-btn-wrapper input[type='file'] {
      cursor: pointer;
      font-size: 100px;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
    }

    #upload-preview-img,
    #upload-preview-url,
    input {
      background: $dark-gray-2;
      border: none;
      color: #fff;
      margin-top: 1vh;
      padding: 1vh;
      width: 100%;
    }

    .signupbutton {
      width: 100%;
    }
  }
}

.signup-page {
  margin-bottom: 50px;

  &__wrapper {
  }

  &__title {
    text-align: center;

    @include for-desktop-up {
      margin-bottom: 60px;
    }

    h2 {
      font-size: 24px;
      font-weight: $font-medium;
      margin-bottom: 0;

      @include for-tablet-landscape-up {
        font-size: 28px;
      }

      @include for-desktop-up {
        font-size: 24px;
      }

      @include for-big-desktop-up {
        font-size: 45px;
        font-weight: $font-semibold;
      }
    }

    p {
      color: $light-gray-3;
      font-size: 16px;
      margin-top: 0;
      padding: 0 11%;

      @include for-tablet-landscape-up {
        padding: 0 17%;
      }

      @include for-desktop-up {
        padding: 0;
      }
    }
  }

  &__selections {
    @include for-desktop-up {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      max-width: 1024px;
      width: 100%;
    }

    @include for-big-desktop-up {
      max-width: 1265px;
    }

    &-option {
      cursor: pointer;
      position: relative;
      margin-bottom: 10px;

      &:nth-of-type(3) {
        .signup-page__selections-option--banner {
          background-position: 0% 18%;
        }
      }
      @include for-desktop-up {
        &:hover {
          .signup-page__selections-option--banner-background,
          .signup-page__selections-option--banner-text {
            transition: all 0.5s ease;
            opacity: 1;
          }
        }
      }

      @include for-desktop-up {
        margin-bottom: 0;
        margin-right: 15px;
        width: calc(100% / 3);

        &:last-of-type {
          margin-right: 0;
        }
      }

      @include for-big-desktop-up {
        margin-right: 30px;
      }

      &--banner {
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 156px;

        @include for-tablet-landscape-up {
          height: 220px;
        }

        @include for-desktop-up {
          background-position: center center;
          height: 470px;
          margin-bottom: 0;
        }

        @include for-big-desktop-up {
          height: 580px;
        }

        &-background {
          background-image: url('../../../images/signup-text-background.png');
          background-position: bottom center;
          background-repeat: no-repeat;
          background-size: contain;
          bottom: 0;
          height: 120px;
          position: absolute;
          right: 0;
          width: 164px;

          @include for-tablet-landscape-up {
            height: 180px;
            width: 240px;
          }

          @include for-desktop-up {
            opacity: 0;
          }

          @include for-big-desktop-up {
            height: 245px;
            width: 320px;
          }
        }

        &-text {
          bottom: 15px;
          max-width: 132px;
          position: absolute;
          right: 15px;
          text-align: right;

          @include for-tablet-landscape-up {
            bottom: 20px;
            right: 20px;
            max-width: 185px;
          }

          @include for-desktop-up {
            opacity: 0;
          }

          @include for-big-desktop-up {
            bottom: 50px;
            max-width: 195px;
            right: 50px;
          }

          h3 {
            font-size: 16px;
            font-weight: $font-semibold;
            margin-bottom: 0;

            @include for-tablet-landscape-up {
              font-size: 24px;
            }

            @include for-big-desktop-up {
              font-size: 30px;
            }

            span {
              display: block;
              text-transform: capitalize;
            }
          }

          p {
            font-size: 11px;
            margin-bottom: 0;
            margin-top: 0;

            @include for-tablet-landscape-up {
              font-size: 15spx;
            }

            @include for-big-desktop-up {
              font-size: 20 px;
            }
          }
        }
      }
    }
  }

  &--form {
    .signup-page__wrapper {
      margin: 0 auto;
      max-width: 600px;
      width: 100%;

      @include for-desktop-up {
        max-width: 790px;
      }
    }

    .form {
      &__form--field {
        margin: 0 auto;
        max-width: 370px;
        &.buttons {
          display: flex;
          flex-direction: column;

          @include for-tablet-landscape-up {
            flex-direction: row;
          }
          button {
            &:first-of-type {
              order: 2;
              @include for-tablet-landscape-up {
                order: unset;
              }
            }

            &:last-of-type {
              order: 1;
              margin-bottom: 20px;
              @include for-tablet-landscape-up {
                order: unset;
              }
            }
          }
        }
      }
    }
  }

  &__form {
    .slick-slide {
      h3 {
        color: $koach-blue-primary;
      }
      .form {
        align-items: center;
        flex-direction: column;
      }

      h3,
      .form__form--field.buttons {
        margin: 0 auto;
        max-width: 370px;
      }

      &:first-of-type {
        .form {
          @include for-desktop-up {
            flex-direction: row;
          }
        }
        h3 {
          @include for-desktop-up {
            margin-left: 15px !important;
          }
        }

        .form__form--field.buttons {
          @include for-desktop-up {
            max-width: 100%;
            margin-right: 15px;
          }
        }
      }
    }
  }

  &--confirmation {
    background-image: url('../../../images/confimation-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;

    &:before {
      background: $black;
      content: '';
      left: 0;
      position: absolute;
      height: 100%;
      opacity: 0.75;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    .signup-page__wrapper {
      left: 50%;
      margin: 0 auto;
      max-width: 500px;
      position: absolute;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      z-index: 2;

      @include for-desktop-up {
        max-width: 565px;
      }
    }

    .signup-page__title {
      h2 {
        font-weight: $font-semibold;
        margin-bottom: 20px;

        @include for-tablet-landscape-up {
          font-size: 32px;
          margin-bottom: 30px;
        }

        @include for-medium-desktop-up {
          font-size: 45px;
          margin-bottom: 20px;
        }
      }

      p {
        margin-bottom: 30px;

        @include for-tablet-landscape-up {
          margin-bottom: 60px;
          padding: 0;
        }

        @include for-big-desktop-up {
          margin-bottom: 80px;
        }
      }
    }
  }

  &__buttons {
    @include for-desktop-up {
      display: flex;
      justify-content: space-between;
    }

    button {
      max-width: 260px;
      width: 100%;

      &:first-of-type {
        margin-bottom: 20px;
      }

      @include for-desktop-up {
        &:first-of-type {
          margin-bottom: 0;
          margin-right: 20px;
        }
      }
    }
  }

  &__logo {
    margin-bottom: 90px;

    @include for-tablet-landscape-up {
      margin-bottom: 75px;
    }

    @include for-desktop-up {
      margin-bottom: 60px;
    }

    @include for-big-desktop-up {
      margin-bottom: 100px;
    }

    img {
      max-width: 265px;
      width: 100%;

      @include for-tablet-landscape-up {
        max-width: 300px;
        width: 100%;
      }

      @include for-big-desktop-up {
        max-width: 425px;
        width: 100%;
      }
    }
  }
}
