.theatre {
  color: $white;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  
  .home-screen {
    margin-top: 10vh;
  }
  
  .footer {
    margin-top: 0;
  }

  &__info_scroll {
    height: calc(100vh - 14vh) !important;
  }
  
  &.mini {
    .theatre {
      &__player {
        &.smallScreen {
          width: 100% !important;
          @include grid-media($lg) {
            width: 75% !important;
          }
          .plyr {
            &__video-wrapper {
              max-width: 100% !important;
            }
            &__controls {
              padding: 35px 10px 12px !important;
            }
          }
        }
        
        &.fullScreen {
          width: 100% !important;
        }
      }
      &__controllers {
        width: 100%;
        padding: 0.5%;
        
        @include grid-media($lg) {
          width: 75vw;
        }
      }
      &__info {
        @include grid-media($lg) {
          width: 100%;
        }
      }
      &__info {
        width: 100%;
        @include grid-media($lg) {
          position: absolute;
          top: 0;
          right: 0;
          width: 25%;
        }
        
        &-contact {
          .ScrollbarsCustom {
            &-Content {
              transition: all 1.5s linear;
            }
          }
        }
      }
    }
    
    .admin-theater--icons {
      background: #00000099;
      bottom: 10vh;
      display: none;
      flex-direction: row;
      padding: 1vw 1.2vw;
      position: absolute;
      
      img {
        height: 4vh;
      }
      
      hr {
        background: $gray-light;
        border: 0;
        height: auto;
        margin: 0 1.5vw;
        width: 0.1vw;
      }
    }
  }
  &__player {
    position: relative;
    &_playTime {
      bottom: 5vh;
      color: rgba($white, .5);
      display: flex;
      font-size: 0.9vw;
      font-weight: $font-thin;
      margin: 0 1vh; 
      span {
        margin: 0 0.5vh;
      }
    }
    .plyr {
      &--video {
        background: $dark-gray-1;
      }
      &--menu-open {
        .plyr__menu__container {
          background: $black;
          &::after {
            border-top-color: $black;
          }
          div {
            div {
              &:nth-child(2) {
                [role='menu'] {
                  button {
                    &:hover {
                      background: $black;
                      color: $red;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.smallScreen {
      .plyr {
        &__video-wrapper {
          max-width: 150vh;
          margin: 0 auto;
        }
        &__controls {
          padding: 35px 10px 0px !important;
        }
        &--full-ui {
          input[type='range'] {
            height: 14px;
          }
        }
        [data-plyr='fullscreen'],
        [data-plyr='pip'],
        [data-plyr='captions'],
        [data-plyr='play'],
        .plyr__time,
        .plyr__volume,
        .plyr__menu {
          display: none;
        }
      }
    }
    
    &.fullScreen {
      .theatre__video-player {
        position: relative;
        
        &:hover {
          .theatre__controllers {
            display: flex;
          }
        }
        
        .theatre__controllers {
          background: #0009;
          display: none;
          position: absolute;
          width: 100%;
          bottom: 0;
          z-index: 99999999;
        }
      }
    }
  }
  &__video-player {
    z-index: 1;
  }
  
  &__controllers {
    @include padding(12px 10px);
    display: flex;
    // height: 50px;
    // height: 4.5vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    
    &--item {
      height: 100%;
      max-width: 4%;
      text-align: center;
      width: 100%;
      z-index: 10;
      
      svg {
        height: 100%;
        width: 100%;
      }
      
      img,
      svg {
        cursor: pointer;
        height: 2.5vh;
        width: 100%;
        // max-height: 55%;
      }
    }
    
    &_play {
      width: 5%;
      display: flex;
      justify-content: center;
      cursor: pointer;
      min-width: 30px;
      div {
        // width: 30px;
        // height: 30px;
        svg {
          // stroke: rgba($white, .5);
          stroke: $white;
          fill: $white;
          
          path {
            fill: $white;
          }
        }
        &:hover {
          svg {
            fill: $koach-blue-primary;;
            stroke: $koach-blue-primary;
          }
        }
      }
    }
    &_title {
      align-items: center;
      color: $white;
      display: flex;
      font-size: 13px;
      font-weight: $font-semibold;
      margin-left: 10px;
      max-width: 40%;
      // padding-left: 2%;
      width: 80%;
      text-align: left;
      
      @include grid-media($lg) {
        font-size: 0.8vw;
      }
      span {
        color: $gray-light;
      }
    }
    &_quality {
      cursor: pointer;
      position: relative;
      width: 5%;
      display: flex;
      justify-content: center;
      min-width: 30px;
      .show {
        display: block;
      }
      .hide {
        display: none;
      }
      .svg {
        // width: 30px;
        // height: 30px;
        svg {
          // color: rgba($white, .5);
          color: $white;
        }
        &:hover {
          svg {
            // color: $koach-blue-primary;
            color: inherit;
          }
        }
      }
    }
    &_menu {
      position: absolute;
      width: auto;
      display: block;
      bottom: 54px;
      background: $black;
      &:before {
        top: 88%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000000;
        border-width: 19px;
        margin-left: -19px;
      }
      ul {
        margin: 0;
        padding: 10px;
        display: block;
        li {
          color: rgba($white, .5);
          font-size: 14px;
          margin-bottom: 5px;
          transition: color .4s $cubic-transition-2;
          &:hover {
            color: $red;
          }
        }
      }
    }
    &_maxScreen {
      cursor: pointer;
      position: relative;
      width: 5%;
      display: none;
      justify-content: center;
      min-width: 30px;
      @include grid-media($lg) {
        display: flex;
      }
      div {
        width: 30px;
        height: 30px;
        svg {
          color: rgba($white, .5);
        }
        &:hover {
          svg {
            color: $red;
          }
        }
      }
    }
    &_fullScreen {
      cursor: pointer;
      div {
        // width: 30px;
        // height: 30px;
        svg {
          color: rgba($white, .5);
        }
        &:hover {
          svg {
            color: $red;
          }
        }
      }
    }
    &_volume {
      @include padding (0 10px 0 10px);
      align-items: center;
      display: flex;
      justify-content: center;
      max-width: 9%;
      position: relative;
      
      .slidecontainer {
        width: 100%;
        
        .slider {
          border-radius: 5px;
          background: #d3d3d3;
          height: 0.3vh;
          left: 50%;
          opacity: 0.9;
          outline: none;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: opacity .2s;
          width: 80%;
          -webkit-transition: .2s;
          -webkit-appearance: none;
        }
        .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 1vh;
          height: 1vh;
          border-radius: 50%;
          background: $koach-blue-primary;
          cursor: pointer;
        }
      }
    }
    
    &_next {
      &:hover {
        .theatre__controllers_next-hover {
          display: block;
        }
      }
    }
    
    &_next-hover {
      display: none;
      background: $koach-blue-primary;
      height: 7vw;
      max-width: 100%;
      position: absolute;
      padding: 0.2vw;
      right: 5.5vw;
      top: -16.5vh;
      width: 10vw;
      z-index: 15;
      
      &:before {
        content: "";
        position: absolute;
        border-left: 1vw solid transparent;
        border-right: 1vw solid transparent;
        border-top: 1vw solid $koach-blue-primary;
        bottom: -2vh;
        left: 50%;
        transform: translateX(-50%);
      }
      
      &--thumbnail {
        // background-image: url(https://media-cdn.tripadvisor.com/media/photo-s/12/c1/99/52/not-a-traditional-tea.jpg);
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center;
      }
    }
  }
  &__info-contact {
    @include grid-media($lg) {
      display: flex;
      height: auto;
      //height: 27.8vh;
      margin-top: auto;
    }
    
    
  }
  &__contact {
    // @include padding(10px);
    background: $dark-gray;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include grid-media($lg) {
      width: 100%;
    }
    &_data {
      display: none;
      &.active {
        display: block;
      }
      >.info {
        @include padding(10px);
        a {
          @include padding(10px);
          color: $white;
          text-decoration: none;
        }
      }
    }
    &_title {
      display: flex;
    }
    &--item {
      //height: calc(100% / 3);
      width: calc(100% / 3);
      display: flex;
      align-items: center;
      transition: background .4s $cubic-transition-2;
      justify-content: center;
      cursor: pointer;
      .icon {
        @include margin(0 10px 0 10px);
        div {
          width: 40px;
          height: 40px;
          display: flex;
          @include grid-media($lg) {
            width: 50px;
            height: 50px;
          }
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
      .info {
        color: rgba($white, .5);
        transition: color .4s $cubic-transition-2;
        text-transform: uppercase;
        font-weight: $font-bold;
        font-size: 14px;
        display: none;
        span {
          font-size: 18px;
        }
        @include grid-media($lg) {
          font-size: 17px;
          span {
            font-size: 22px;
          }
        }
      }
      &:hover {
        background: $black;
        .info {
          color: $white;
        }
      }
    }
  }
  &__info {
    width: 100%;
    @include grid-media($lg) {
      width: 80%;
    }
    // &_scroll {
      .ScrollbarsCustom {
        @include padding(0 1.5vw);
        // height: 300px;
        // overflow-y: auto;
        height: calc(100vh - 29vh) !important;
        
        &-Scroller {
          padding: 0 1.5vw;
        }
      }
      &--item {
        @include margin(20px null 40px);
        
        border-bottom: 0.01vw solid $gray-light;
        cursor: pointer;
        // font-size: 1.05vw;
        font-size: 0.9vw;
        font-weight: $font-thin;
        line-height: 1.4;
        padding-bottom: 4vh;
        
        &-inner-wrapper {
          -webkit-transition: all 0.5s ease-in-out;
          -moz-transition: all 0.5s ease-in-out;
          -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
          
          &:hover,
          &.selected {
            cursor: pointer;
            background: $dark-gray-1;
            border-radius: 2vh;
            padding: 2vh;
            
            .theatre__info--timing {
              width: 75%;
            }
          }
          
          textarea {
            resize: vertical;
            width: 100%;
          }
        }
        
        &-editicons {
          display: inline-block;
          
          img {
            margin-right: 1vh;
            
            &:last-of-type {
              margin-right: 0;
            }
          }
        }
        
        &-sub {
          display: flex;
          justify-content: space-between;
          margin-top: 4.7vh;
        }
      }
      &--timing {
        color: $gray-light;
        display: inline-block;
        position: relative;
        width: 77%;
      }
      &_tab {
        display: flex;
        flex-direction: column;
      }
      &_tab-title {
        align-items: center;
        border-radius: 40vw;
        cursor: pointer;
        display: flex;
        font-size: 1.1vw;
        font-weight: 300;
        justify-content: center;
        height: 5vh;
        padding: 1vw;
        width: 40%;
        &.active {
          background: $koach-blue-primary;
        }
        &_wrapper {
          align-items: center;
          display: flex;
          justify-content: space-evenly;
          height: 8.5vh;
        }
      }
      &_tab_data {
        display: none;
        &.active {
          display: block;
        }
      }
      &__message {
        &-input {
          @include padding(10px);
          input {
            width: 100%;
            background-color: $dark-gray-2;
            height: 30px;
            outline: none;
          }
        }
        &_item {
          @include margin(2vh 1vh);
          @include padding(1.1vh 2.5vh);
          
          align-items: center;
          background-color: $dark-gray-2;
          border-radius: 2vh;
          cursor: pointer;
          display: flex;
          justify-content: space-between;
          
          &.user {
            border-radius: 0 15px 15px 0;
          }
          &.sender {
            border-radius: 15px 0 0 15px;
            text-align: right;
          }
          &_time {
            @include margin(5px null 5px);
            font-size: 12px;
          }
          
          p {
            padding: 0 1vw;
            text-align: left;
            width: 100%;
          }
          
          .icon--download {
            cursor: pointer;
            width: 2vh;
          }

          .icon--pdf {
            width: 3vh;
          }
        }
      }
      &--download-summary {
        background: $dark-gray-1;
        display: flex;
        padding: 4vh;
        
        a {
          align-items: center;
          background: $dark-gray-3;
          border-radius: 1vh;
          color: $white;
          display: flex;
          font-size: 2vh;
          padding: 2vh;
          padding-left: 2.5vh;
          text-decoration: unset;
          width: 100%;
          
          img {
            margin-right: 3vh;
          }
        }
      }
    }
    &__tutor-info {
      @include margin(20px null null);
      display: flex;
      align-items: center;
      
      display: none;
      &_image {
        div {
          @include margin(nul 10px null);
          background: url('../../../images/chinese-svgrepo-com.svg') #fff center center no-repeat;
          background-size: contain;
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }
  }
  
  .middle-video-reel {
    position: relative;
    
    .theatre__assessment-pagination {
      position: absolute;
      right: 1.3vh;
    }
    
    .slick-slider {
      padding: 0 4%;
      
      .slick-prev {
        left: 6% !important;
      }
      
      .slick-next {
        right: 6% !important;
      }
    }
    
    .player_section {
      margin-top: 0;

      .container {
        background: darken($featured-gray, 6%);
      }
    }
  }
  
  .MuiGrid-root.MuiGrid-container {
    .MuiSlider-root.MuiSlider-colorPrimary {
      color: $koach-blue-primary;
      height: 4px;
      
      .MuiSlider-track {
        height: 4px;
      }
    }
  }

.theater-page {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  .header {
    display: none;
  }

  .theatre__assessment-question {
    .form-item input[type=radio]:checked + label:before,
    .form-item input[type=radio]:checked + label:after,
    .form-item input[type=radio]:not(:checked) + label:before,
    .form-item input[type=radio]:not(:checked) + label:after {
      top: 0.5vh;
    }
  }
}
