.tilegrid {
  padding-top: 8vh;

  &__title {
    margin: 0;
    margin-bottom: 9vh;
  }

  &__subtitle {
    margin: 0;
    // margin-bottom: 2.5vh;
  }

  &__row {
    margin-bottom: 12vh;

    &--top {
      display: flex;
      flex-direction: row;
      // justify-content: space-between;

      .icon--sort {
        &_accending,
        &_decending {
          margin-left: 1.5vw;
          width: 1.55vw;
        }
      }
    }

    &--bottom {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__content {
    align-items: center;
    background-color: $dark-gray;
    border: 0.1vh solid $dark-gray-1;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-right: 1vw;
    margin-top: 2.5vh;
    padding: 3vh 3.5vh;
    width: 10.5vw;

    &--image {
      background-image: url('../../../images/svg-images/icon-pdf-gray.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      height: 4vw;
      margin-bottom: 2.5vh;
      position: relative;
      width: 100%;

      &:after {
        content: "";
        background: $koach-blue-primary;
        bottom: -2vh;
        height: 0.1vh;
        left: 0;
        position: absolute;
        width: 100%;

      }
    }

    &--title {
      margin-top: 1.4vh;
      text-align: center;

      p {
        margin: 0;
        font-size: 1.1vw;
        font-weight: $font-thin;
      }
    }
  }

  &.reel {
    .featured-video__item {
      margin-bottom: 10vh;
      max-width: 20%;
      width: 100%;
    }

    .tilegrid__row--bottom {
      position: relative;

      &.restricted {
        max-height: 65vh;
        overflow: hidden;
      }

      h4 {
        bottom: 0;
        color: $koach-blue-primary;
        cursor: pointer;
        position: absolute;
        right: 2vw;
      }

      .featured-video__item {
        cursor: pointer;

        .miniPlayer__info-action {
          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &.policies {
    .tilegrid__content{
      padding: 1.5vh 1.5vh;
      // width: 8.5vw;
    }
  }
}
