// COLORS
$black: #000;
$black-opacity: #00000094;
$black-opacity-light: #00000045;
$black-opacity-2: #000000cc;
$white: #fff;
$light-green: #a3d7bc;
$green: #29b46c;
$orange: #f36633;
$lightorange: #ff8800;
$dark-orange: #913d1e;
$light-orange: #f9b299;
$light-orange-2: #f69370;
$light-orange-3: #f47547;
$transparent: #00000000;

$nero: #1c1c1c;

$red: #ff0000;
$hover-red: #c73032;

$gray: #828282;
$gray-light: #c2c2c2;
$light-gray: #7b7b7b;
$light-gray-1: #e5e5e5;
$light-gray-2: #707070;
$light-gray-3: #949494;
$dark-gray: #0e0e0e;
$dark-gray-1: #242424;
$dark-gray-2: #0f0f0f;
$dark-gray-3: #191919;
$dark-gray-4: #1d1d1d;
$backgroundgray: #dcdcdc;
$lightmode-lightgray: #b5b5b5;
$gray-light: #727272;

$featured-gray: #1e1e1e;
$featured-gray-1: #3d3d3d;

$brown: #8e7a3f;
$buttonbrown: #352b2b;
$brownmedium: #4f4423;
$dark-brown: #332c15;
$light-brown: #a49465;
$light-brown-2: #998752;
$light-brown-3: #716132;

$blue: #001489;
$buttonblue: #091754;
$light-blue: #7d87c3;
$light-blue-2: #3343a1;
$light-blue-3: #bdc1e1;
$dark-blue: #00062d;

$koach-blue-primary: #6ccad3;
$koach-blue-primary-opacity: #6ccad3e6;
$koach-blue-secondary: #96d9ee;
$koach-green-primary: #a3d7bc;
$knodify-green: #159b56;

// FONT WEIGHTS
$font-thinnest: 100;
$font-thinner: 200;
$font-thin: 300;
$font-normal: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;

// BREAKPOINTS

// Mobiles
$xs: (
  media: 576px,
);

// Tablets (portrait view)
$sm: (
  media: 768px,
);

// Tablets (Landscape view)
$md: (
  media: 992px,
);

// Small desktops
$lg: (
  media: 1200px,
);

// Large desktops
$xl: (
  media: 1440px,
);

// TRANSITIONS
$cubic-transition: cubic-bezier(0.51, 0.92, 0.24, 1.15);
$cubic-transition-2: cubic-bezier(0, 0, 0.2, 1);

// Font Family
$font-family: 'Poppins', sans-serif;
